{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="alert alert-danger" role="alert">Access to the requested page is forbidden.</div>
    </div>

{% endblock %}
