{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="page-header alert alert-danger" role="alert">The requested page could not be found.</div>
    </div>

{% endblock %}
