<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>One Year. One Platform. One Billion Bets</title>

        <meta name="description" content="Deliver an omni-channel betting experience, tailored to your customers. One account wherever and whenever they log on.">

    </head>
    <body style="padding:0; margin: 0">
    <a href="https://openbet.com/performance"><img src="//{{ app.request.httpHost}}/images/grand-national-email.jpg" /></a>
    </body>
</html>
