html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Gotham SSm A', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: #686666;
}
body {
  background-image: url('/oneaccount/images/bg.jpg');
}
a:focus,
a:visited {
  outline: none;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .container {
    /*width: 1000px;*/
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
.wide {
  padding-left: 0;
  padding-right: 0;
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.68);
}
#first_section {
  overflow: hidden;
  position: relative;
  background-color: #bbe0e3;
  background-size: cover;
  height: 59.3em;
  -webkit-box-shadow: inset 0px -8px 14px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: inset 0px -8px 14px 0px rgba(50, 50, 50, 0.33);
  box-shadow: inset 0px -8px 14px 0px rgba(50, 50, 50, 0.33);
}
@media screen and (max-width: 767px) {
  #first_section {
    height: 765px;
  }
}
#first_section .logo {
  position: relative;
  z-index: 30;
  margin-top: 5em;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #first_section .logo {
    margin-top: 2em;
  }
}
#first_section .logo .slogan {
  font-size: 2em;
}
#first_section .logo .slogan span {
  font-weight: 700;
}
#first_section .logo img.logo_img {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 151px;
}
#first_section .click_more {
  cursor: pointer;
}
#second_section {
  background: url(/oneaccount/images/what_is_bg.png) no-repeat;
  background-size: cover;
  padding: 0;
}
#second_section .nav_here {
  background-color: #ffffff;
}
#second_section .nav_here ul.nav li {
  min-width: 196px;
}
@media screen and (max-width: 767px) {
  #second_section .nav_here ul.nav li {
    min-width: 50px;
  }
}
#second_section .nav_here ul.nav li a {
  padding-left: 45px;
  padding-right: 45px;
  display: block;
}
@media screen and (max-width: 767px) {
  #second_section .nav_here ul.nav li a {
    padding-left: 17px;
    padding-right: 17px;
  }
}
#second_section .nav_here .marker_tab {
  color: #000000;
  font-size: 1.5em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #second_section .nav_here .marker_tab {
    font-size: 1.2em;
  }
}
#second_section .nav_here .active {
  position: relative;
  background: #d3135a;
}
#second_section .nav_here .active .marker_tab {
  color: #FFF;
}
#second_section .nav_here .active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(211, 19, 90, 0);
  border-top-color: #d3135a;
  border-width: 15px;
  margin-left: -15px;
}
#second_section .more_info {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #000000;
  width: 150px;
  color: #000000;
  margin: 1.5em auto 2.5em;
}
#second_section .more_info:hover {
  background-color: #ecebeb;
  text-decoration: none;
}
#second_section .separator {
  width: 60%;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto 2em;
}
#second_section .nav-tabs {
  margin: 0 auto;
  border-bottom-width: 0;
  width: 590px;
}
@media screen and (max-width: 767px) {
  #second_section .nav-tabs {
    width: 320px;
  }
}
#second_section .nav-tabs li {
  display: inline-block;
}
#second_section .nav-tabs > li.active > a,
#second_section .nav-tabs > li.active > a:hover,
#second_section .nav-tabs > li.active > a:focus,
#second_section .nav-tabs > li > a:hover {
  background-color: transparent!important;
}
#second_section .nav-tabs > li > a:hover,
#second_section .nav-tabs > li > a {
  border-width: 0;
}
#second_section .marker {
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: #b5adb4;
  display: inline-block;
}
#second_section .active .marker {
  background-color: #000000;
}
#second_section .tab-content {
  text-align: center;
  width: 66%;
  margin: 4em auto;
  font-size: 1em;
  line-height: 2em;
}
#second_section .tab-content h3 {
  font-size: 1.875em;
  font-weight: 600;
}
#second_section .tab-content h4 {
  font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  #second_section .tab-content {
    width: 90%;
  }
}
#second_section.omnichannel {
  background-color: #fefefe;
}
#second_section.solutions {
  background: url(/oneaccount/images/solutions_bg.png) no-repeat;
  background-size: cover;
  background-color: #3ea0bd;
}
#second_section.solutions .tab-pane {
  color: #ffffff;
}
#second_section.solutions .more_info {
  border-color: #ffffff;
  color: #ffffff;
}
#second_section.solutions .more_info:hover {
  color: #3ea0bd;
}
#second_section.products {
  background: url(/oneaccount/images/products_bg.png) no-repeat;
  background-size: cover;
  background-color: #4f9795;
}
#second_section.products .tab-pane {
  color: #ffffff;
}
#second_section.products .more_info {
  border-color: #ffffff;
  color: #ffffff;
}
#second_section.products .more_info:hover {
  color: #4f9795;
}
.section-heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 272px;
  display: block;
}
.section-heading h4 {
  text-align: center;
  margin-top: 10px;
}
#fourth_section {
  background: url(/oneaccount/images/bottom_nav_bg.png) no-repeat;
  background-color: #ffffff;
  background-size: cover;
  padding: 3em;
}
@media only screen and (max-width: 767px) {
  #fourth_section {
    padding: 1em;
  }
}
#fourth_section > .container {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  #fourth_section > .container {
    width: 800px;
  }
}
#fourth_section > .container .item {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 1em;
}
@media only screen and (max-width: 767px) {
  #fourth_section > .container .item {
    word-wrap: break-word;
  }
}
#fourth_section > .container .item a {
  color: #686666;
  width: 150px;
  display: block;
  margin: 0px auto;
  font-size: 1em;
}
#fourth_section > .container .item a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  #fourth_section > .container .item a {
    width: 100px;
    font-size: 0.8em;
  }
}
#fourth_section > .container .item .image {
  width: 150px;
  height: 150px;
  background-size: 120% 120%;
  background-position: 55% 46%;
  border-radius: 50%;
  transition: background-size 0.5s;
  margin-bottom: 1em;
}
@media only screen and (max-width: 767px) {
  #fourth_section > .container .item .image {
    width: 100px;
    height: 100px;
    margin-left: 0px;
  }
}
#fourth_section > .container .item .image .overlay {
  background-color: rgba(102, 102, 102, 0.66);
  height: 150px;
  border-radius: 50%;
  transition: background-color 0.5s;
}
@media only screen and (max-width: 767px) {
  #fourth_section > .container .item .image .overlay {
    height: 100px;
  }
}
#fourth_section > .container .item .image .overlay img {
  margin-top: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 65px!important;
  height: 65px !important;
}
@media only screen and (max-width: 767px) {
  #fourth_section > .container .item .image .overlay img {
    margin-top: 0px;
    border: none;
    width: 100px!important;
    height: 100px !important;
  }
}
#fourth_section > .container .item:hover .image {
  background-size: 150% 150%;
}
#fourth_section > .container .item:hover .image .overlay {
  background-color: rgba(102, 102, 102, 0.36);
}
#footer_section {
  background-color: #ecebeb;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  -webkit-box-shadow: 0px -8px 14px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: 0px -8px 14px 0px rgba(50, 50, 50, 0.33);
  box-shadow: 0px -8px 14px 0px rgba(50, 50, 50, 0.33);
}
#footer_section > .container {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  #footer_section > .container {
    width: 800px;
  }
}
#footer_section > .container .social {
  float: right;
  padding-top: 1.5em;
}
#footer_section > .container .social img {
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
}
#footer_section > .container .hide_on_big {
  padding-left: 0;
  padding-right: 0;
}
#footer_section > .container .social_xs {
  margin: 0 auto;
  padding: 1.5em 0.5em 0;
  width: 305px;
}
#footer_section > .container .social_xs img {
  width: 3em;
  height: 3em;
  margin: 0.2em;
}
#footer_section > .container .social_xs img.logo_img {
  width: 4.5em;
  height: auto;
  margin-top: 1.5em;
}
#footer_section > .container .social_xs .links {
  margin: 0 auto;
  width: 280px;
}
#footer_section > .container .logo_b {
  float: right;
  padding-top: 1.3em;
  padding-left: 1.8em;
}
#footer_section > .container .logo_b img {
  width: 5em;
}
#footer_section > .container img:hover {
  opacity: 0.85;
}
#footer_section > .container a,
#footer_section > .container a:hover,
#footer_section > .container a:focus,
#footer_section > .container a:visited {
  text-decoration: none;
}
#footer_section .copyright {
  padding: 2em 3em 2em 0;
  line-height: 1.8em;
}
@media only screen and (max-width: 767px) {
  #footer_section .copyright {
    text-align: center;
    padding: 2em 0 2em 0;
  }
}
#town {
  max-height: 528px;
  background: url('/oneaccount/images/hills-bg.png') repeat-x;
  background-position: center bottom;
  background-size: 3146px 293px;
}
#town #street {
  max-width: 1000px;
  margin: 0 auto;
  height: 528px;
  position: relative;
}
@media screen and (max-width: 767px) {
  #town #street {
    height: 470px;
  }
}
#town #street .text {
  font-size: 12px;
}
#town #street h5 {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}
#town #street #bus .links_here {
  margin: 10px auto;
  width: 260px;
  height: 40px;
}
#town #street #bus .link {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  display: inline-block;
  line-height: 30px;
}
#town #street #bus .link a {
  color: #ffffff;
}
#town #street #bus .link .link_image {
  float: left;
  margin-right: 5px;
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
}
#town #street #casino .links_here {
  margin: 10px auto;
  height: 40px;
}
#town #street #casino .link {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  display: inline-block;
  line-height: 30px;
}
#town #street #casino .link a {
  color: #ffffff;
}
#town #street #casino .link .link_image {
  margin: 0 auto;
  background-color: #ffffff;
  height: 45px;
  width: 45px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
}
#town #tree1 {
  position: absolute;
  left: -123px;
  bottom: 0;
  z-index: 100;
}
#town #tree1 img {
  height: 500px;
}
#town #tree2 {
  position: absolute;
  right: -129px;
  bottom: 0;
  z-index: 100;
}
#town #tree2 img {
  height: 500px;
}
#town #bus {
  position: absolute;
  left: 25px;
  bottom: 0;
}
#town #bus_cont {
  width: 337px;
  height: 176px;
}
#town #bus_cont .text {
  position: relative;
  margin-top: -172px;
}
#town #casino {
  position: absolute;
  left: 480px;
  bottom: 50px;
}
#town #casino_cont {
  width: 337px;
  height: 300px;
}
#town #casino_cont .text {
  width: 200px;
  position: relative;
  margin-top: -240px;
  margin-left: 90px;
}
#town .f1_container {
  position: relative;
  margin: 10px auto;
  z-index: 1;
}
#town .f1_container {
  perspective: 1000;
}
#town .f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#town .f1_container.clicked .f1_card {
  transform: rotateY(180deg);
}
#town .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#town .face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: transparent;
}
#carousel-example-generic {
  height: 528px;
}
#carousel-example-generic .carousel-indicators {
  bottom: -70px;
}
#carousel-example-generic .carousel-indicators li {
  background-color: #b5adb4;
  border-color: transparent;
  height: 25px;
  width: 25px;
  margin-right: 1em;
  border-radius: 50%;
}
#carousel-example-generic .carousel-indicators li.active {
  background-color: #000000;
}
.bird {
  background: url(/oneaccount/images/Bird.gif) no-repeat;
  width: 43px;
  height: 36px;
  position: absolute;
  z-index: 50;
}
.bird.bird_one {
  top: 50px;
  right: -45px;
}
.bird.bird_two {
  top: 100px;
  right: -45px;
}
.cloud1 {
  background: url(/oneaccount/images/cloud_1.png) no-repeat;
  background-size: cover;
  width: 162px;
  height: 105px;
  position: absolute;
  z-index: 20;
  display: none;
  top: 100px;
  right: -200px;
}
.cloud2 {
  background: url(/oneaccount/images/cloud_2.png) no-repeat;
  background-size: cover;
  width: 146px;
  height: 91px;
  position: absolute;
  z-index: 20;
  display: none;
  top: 150px;
  right: -350px;
}
@media screen and (max-width: 1200px) {
  #bird1 {
    top: 50px;
    right: 0px;
  }
  #bird2 {
    top: 100px;
    right: 0px;
  }
  #bird3 {
    display: none;
  }
  #bird4 {
    display: none;
  }
  #bird5 {
    display: none;
  }
  #cloud1 {
    top: 300px;
    right: 0;
  }
  #cloud2 {
    display: none;
  }
  #cloud3 {
    display: none;
  }
  #cloud4 {
    display: none;
  }
  #cloud5 {
    display: none;
  }
  #cloud6 {
    display: none;
  }
}
#contact-form .modal-content {
  border-radius: 0;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  padding: 5px 10px;
  background-color: #e5e5e4;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background-color 0.5s;
}
#contact-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
#contact-form textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#contact-form .form-group {
  overflow-y: auto;
}
#contact-form .form-group .error_div {
  display: none;
}
#contact-form .form-group.has-error label {
  color: inherit;
}
#contact-form .form-group.has-error input[type="text"],
#contact-form .form-group.has-error input[type="email"],
#contact-form .form-group.has-error textarea {
  background-color: #f3999b;
  border-color: #f3999b;
}
#contact-form .form-group.has-error .error_div {
  display: block;
}
#contact-form button {
  border-radius: 15px;
  padding: 0 27px 0 27px;
  background-color: #e5e5e4;
}
#contact-form button:hover {
  background-color: #bfbfbd;
}
#contact-form .close {
  position: relative;
  top: -30px;
  left: 30px;
  background-color: #e5e5e4;
  opacity: 1;
  padding: 5px 9px;
  border-radius: 20px;
}
#contact-form ul.text-danger {
  list-style: none;
  color: #f3999b;
}
.rounded {
  border-radius: 50%;
}
.error_div {
  text-align: right;
  float: right;
  color: #f3999b;
  margin-top: -1.9em;
}
.error_div span {
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
}
.scene {
  width: 1000px;
  height: 528px;
  overflow: hidden;
  position: relative;
}
.landscape {
  position: absolute;
  left: 550px;
  bottom: 0px;
  height: 528px;
  width: 3000px;
}
.busstops {
  position: absolute;
  left: -150px;
  bottom: 0px;
  height: 528px;
  width: 3000px;
}
.busstops .busstop {
  position: absolute;
  background: url('/oneaccount/images/bus-stop@2x.png') no-repeat;
  background-size: 143px 87px;
  width: 143px;
  height: 87px;
  z-index: 85;
}
.busstops .busstop.animated_hidden {
  z-index: 1;
}
.busstops .busstop.animated_visible {
  z-index: 85;
}
.busstops .busstop.first {
  left: 30px;
  bottom: 45px;
}
.busstops .busstop.second {
  left: 900px;
  bottom: 45px;
}
.busstops .busstop.third {
  left: 1650px;
  bottom: 45px;
}
.busstops .busstop.last {
  left: 1830px;
  bottom: 45px;
}
/* simple */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
/*
.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}
*/
/* START: Accommodating for IE */
@media only screen and (min-width: 770px) {
  .flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@media only screen and (device-width: 768px) {
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
/* END: Accommodating for IE */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flip-container.casino {
  width: 392px;
  height: 295px;
}
.flip-container.housedouble {
  width: 351px;
  height: 365px;
}
.flip-container.offices {
  width: 184px;
  height: 386px;
}
.flip-container.betshop {
  width: 318px;
  height: 294px;
}
.flip-container.bus {
  width: 394px;
  height: 204px;
}
.animated_visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;
}
.animated_hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}
.transparent {
  visibility: hidden;
  opacity: 0;
}
.scene .sceneitem {
  position: absolute;
  cursor: pointer;
}
.scene .sceneitem.casino {
  bottom: 75px;
  left: 0px;
  z-index: 80;
}
.scene .sceneitem.housedouble {
  left: 390px;
  bottom: 85px;
  z-index: 70;
}
.scene .sceneitem.offices {
  left: 738px;
  bottom: 85px;
  z-index: 60;
}
.scene .sceneitem.betshop {
  left: 910px;
  bottom: 85px;
  z-index: 50;
}
.scene .sceneitem.espresso {
  left: 1217px;
  bottom: 81px;
  z-index: 40;
}
.scene .sceneitem.meatshop {
  left: 1375px;
  bottom: 85px;
  z-index: 30;
}
.scene .sceneitem.bus {
  left: -395px;
  bottom: 20px;
  z-index: 90;
}
.scene .sceneitem.bus.animated_visible {
  z-index: 90;
}
.scene .sceneitem.bus.animated_hidden {
  z-index: 1;
}
.scene .sceneitem.casino2 {
  bottom: 75px;
  left: 1800px;
  z-index: 80;
}
.scene .sceneitem.housedouble2 {
  left: 2190px;
  bottom: 85px;
  z-index: 70;
}
.scene .sceneitem .flipper.casino {
  width: 392px;
  height: 295px;
  background-size: 392px 295px;
}
.scene .sceneitem .flipper.casino .front {
  background: url('/oneaccount/images/casino@2x.png') no-repeat;
  width: 392px;
  height: 295px;
  background-size: 392px 295px;
}
.scene .sceneitem .flipper.casino .back {
  background: url('/oneaccount/images/casino-fli@2x.png') no-repeat;
  width: 392px;
  height: 295px;
  background-size: 392px 295px;
  left: 30px;
  bottom: 15px;
}
.scene .sceneitem .flipper.casino .back .products-bt-v {
  left: 80px;
  bottom: 15px;
}
.scene .sceneitem .flipper.casino .back .services-bt-v {
  right: 80px;
  bottom: 15px;
}
.scene .sceneitem .flipper.housedouble {
  width: 351px;
  height: 365px;
  background-size: 351px 365px;
}
.scene .sceneitem .flipper.housedouble .front {
  background: url('/oneaccount/images/housedouble@2x.png') no-repeat;
  width: 351px;
  height: 365px;
  background-size: 351px 365px;
}
.scene .sceneitem .flipper.housedouble .back {
  background: url('/oneaccount/images/house-flip@2x.png') no-repeat;
  width: 351px;
  height: 365px;
  background-size: 351px 365px;
}
.scene .sceneitem .flipper.housedouble .back .products-bt-v {
  left: 20px;
  bottom: 15px;
}
.scene .sceneitem .flipper.housedouble .back .services-bt-v {
  right: 20px;
  bottom: 15px;
}
.scene .sceneitem .flipper.offices {
  width: 184px;
  height: 386px;
  background-size: 184px 386px;
}
.scene .sceneitem .flipper.offices .front {
  background: url('/oneaccount/images/offices@2x.png') no-repeat;
  width: 184px;
  height: 386px;
  background-size: 184px 386px;
}
.scene .sceneitem .flipper.offices .back {
  background: url('/oneaccount/images/office-flip@2x.png') no-repeat;
  width: 184px;
  height: 386px;
  background-size: 184px 386px;
}
.scene .sceneitem .flipper.offices .back .products-bt-v {
  left: 10px;
  bottom: 15px;
}
.scene .sceneitem .flipper.offices .back .services-bt-v {
  right: 10px;
  bottom: 15px;
}
.scene .sceneitem .flipper.betshop {
  width: 318px;
  height: 294px;
  background-size: 318px 294px;
}
.scene .sceneitem .flipper.betshop .front {
  background: url('/oneaccount/images/betshop@2x.png') no-repeat;
  width: 318px;
  height: 294px;
  background-size: 318px 294px;
}
.scene .sceneitem .flipper.betshop .back {
  background: url('/oneaccount/images/betshop-flip@2x.png') no-repeat;
  width: 318px;
  height: 294px;
  background-size: 318px 294px;
}
.scene .sceneitem .flipper.betshop .back .products-bt-v {
  left: 25px;
  bottom: 15px;
}
.scene .sceneitem .flipper.betshop .back .services-bt-v {
  right: 25px;
  bottom: 15px;
}
.scene .sceneitem .flipper.bus {
  width: 394px;
  height: 204px;
  background-size: 394px 204px;
}
.scene .sceneitem .flipper.bus .front {
  background: url('/oneaccount/images/bus@2x.png') no-repeat;
  width: 394px;
  height: 204px;
  background-size: 394px 204px;
}
.scene .sceneitem .flipper.bus .back {
  background: url('/oneaccount/images/bus-flip@2x.png') no-repeat;
  width: 394px;
  height: 204px;
  background-size: 394px 204px;
}
.products-bt-h {
  background: url('/oneaccount/images/products-h@2x.png') no-repeat;
  background-size: 130px 45px;
  width: 130px;
  height: 45px;
  position: absolute;
  left: 20px;
  bottom: 35px;
  cursor: pointer;
}
.services-bt-h {
  background: url('/oneaccount/images/solutions-h@2x.png') no-repeat;
  background-size: 130px 45px;
  width: 130px;
  height: 45px;
  position: absolute;
  right: 20px;
  bottom: 35px;
  cursor: pointer;
}
.products-bt-v {
  background: url('/oneaccount/images/products-v@2x.png') no-repeat;
  background-size: 75px 65px;
  width: 75px;
  height: 65px;
  position: absolute;
  cursor: pointer;
}
.services-bt-v {
  background: url('/oneaccount/images/solutions-v@2x.png') no-repeat;
  background-size: 81px 65px;
  width: 81px;
  height: 65px;
  position: absolute;
  cursor: pointer;
}
/*
    Mobile carousel
*/
.scene-mobile {
  height: 450px;
  position: relative;
  z-index: 999;
}
.scene-mobile .carousel {
  padding-top: 3rem;
}
.scene-mobile .carousel .carousel-inner {
  height: 450px;
  position: relative;
}
.scene-mobile .carousel .carousel-inner .item {
  position: relative;
}
.scene-mobile .carousel .carousel-inner .item img {
  width: 100%;
}
.scene-mobile .carousel .carousel-inner .item .flip-container {
  position: absolute;
}
.scene-mobile .carousel .carousel-inner .item .flip-container.betshop {
  bottom: 0px;
}
.scene-mobile .carousel .carousel-control.left,
.scene-mobile .carousel .carousel-control.right {
  background: none;
}
.scene-mobile .scene-item {
  position: absolute;
}
.scene-mobile .scene-item.casino {
  left: 0;
  bottom: -140px;
}
.scene-mobile .scene-item.bus {
  left: 0;
  bottom: -260px !important;
}
.scene-mobile .scene-item.housedouble {
  left: 0%;
  bottom: -45px;
}
.scene-mobile .scene-item.offices {
  left: 68px;
  bottom: 0px;
}
.scene-mobile .scene-item.betshop {
  left: 0;
  bottom: -360px;
}
.scene-mobile .scene-item .flip-container {
  perspective: 1000;
  margin: 0 auto;
}
.scene-mobile .scene-item .flip-container .products-bt-v {
  background-size: 61px 53px;
  width: 61px;
  height: 53px;
}
.scene-mobile .scene-item .flip-container .services-bt-v {
  background-size: 66px 53px;
  width: 66px;
  height: 53px;
}
.scene-mobile .scene-item .flip-container.casino {
  width: 320px;
  height: 241px;
  background-size: 320px 241px;
}
.scene-mobile .scene-item .flip-container.casino .front {
  background: url('/oneaccount/images/casino@2x.png') no-repeat;
  width: 320px;
  height: 241px;
  background-size: 320px 241px;
}
.scene-mobile .scene-item .flip-container.casino .back {
  background: url('/oneaccount/images/casino-fli@2x.png') no-repeat;
  width: 320px;
  height: 241px;
  background-size: 320px 241px;
  left: 30px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.casino .back .products-bt-v {
  left: 80px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.casino .back .services-bt-v {
  right: 80px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.housedouble {
  width: 320px;
  height: 333px;
  background-size: 320px 333px;
}
.scene-mobile .scene-item .flip-container.housedouble .front {
  background: url('/oneaccount/images/housedouble@2x.png') no-repeat;
  width: 320px;
  height: 333px;
  background-size: 320px 333px;
}
.scene-mobile .scene-item .flip-container.housedouble .back {
  background: url('/oneaccount/images/house-flip@2x.png') no-repeat;
  width: 320px;
  height: 333px;
  background-size: 320px 333px;
}
.scene-mobile .scene-item .flip-container.housedouble .back .products-bt-v {
  left: 20px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.housedouble .back .services-bt-v {
  right: 20px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.offices {
  width: 184px;
  height: 386px;
  background-size: 184px 386px;
}
.scene-mobile .scene-item .flip-container.offices .front {
  background: url('/oneaccount/images/offices@2x.png') no-repeat;
  width: 184px;
  height: 386px;
  background-size: 184px 386px;
}
.scene-mobile .scene-item .flip-container.offices .back {
  background: url('/oneaccount/images/office-flip@2x.png') no-repeat;
  width: 184px;
  height: 386px;
  background-size: 184px 386px;
}
.scene-mobile .scene-item .flip-container.offices .back .products-bt-v {
  left: 10px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.offices .back .services-bt-v {
  right: 10px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.betshop {
  width: 318px;
  height: 294px;
  background-size: 318px 294px;
}
.scene-mobile .scene-item .flip-container.betshop .front {
  background: url('/oneaccount/images/betshop@2x.png') no-repeat;
  width: 318px;
  height: 294px;
  background-size: 318px 294px;
}
.scene-mobile .scene-item .flip-container.betshop .back {
  background: url('/oneaccount/images/betshop-flip@2x.png') no-repeat;
  width: 318px;
  height: 294px;
  background-size: 318px 294px;
}
.scene-mobile .scene-item .flip-container.betshop .back .products-bt-v {
  left: 25px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.betshop .back .services-bt-v {
  right: 25px;
  bottom: 15px;
}
.scene-mobile .scene-item .flip-container.bus {
  width: 320px;
  height: 166px;
  background-size: 320px 166px;
}
.scene-mobile .scene-item .flip-container.bus .front {
  background: url('/oneaccount/images/bus@2x.png') no-repeat;
  width: 320px;
  height: 166px;
  background-size: 320px 166px;
}
.scene-mobile .scene-item .flip-container.bus .back {
  background: url('/oneaccount/images/bus-flip@2x.png') no-repeat;
  width: 320px;
  height: 204px;
  background-size: 320px 166px;
}
.scene-mobile .scene-item .flip-container.bus .back .products-bt-h {
  bottom: 60px;
}
.scene-mobile .scene-item .flip-container.bus .back .services-bt-h {
  bottom: 60px;
}
.scene-mobile .scene-item .flip-container.do-magic .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.scene-mobile .scene-item .flip-container .flipper {
  position: relative;
  transition: .6s;
  transform-style: preserve-3d;
}
.scene-mobile .scene-item .flip-container .flipper .front,
.scene-mobile .scene-item .flip-container .flipper .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.scene-mobile .scene-item .flip-container .flipper .front img,
.scene-mobile .scene-item .flip-container .flipper .back img {
  width: 100%;
  height: 100%;
}
.scene-mobile .scene-item .flip-container .flipper .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.scene-mobile .scene-item .flip-container .flipper .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/*Thank you message heading polishing font*/
.panel-heading h4 {
  font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 600;
}
